apiVersion: apps/v1
kind: Deployment
metadata:
  name: application-deployment
  namespace: hackathon
spec:
  replicas: 1
  selector:
    matchLabels:
      app: application-service
  template:
    metadata:
      labels:
        app: application-service
    spec:
      containers:
      - name: application-service
        image: __IMAGE_APPOINTMENT__
        ports:
        - containerPort: 3001
---
apiVersion: v1
kind: Service
metadata:
  name: application-lb
  namespace: hackathon
spec:
  type: LoadBalancer
  selector:
    app: application-service
  ports:
  - port: 80
    targetPort: 3001
