apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-deployment
  namespace: hackathon
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
      - name: order-service
        image: __IMAGE_ORDER__
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: order-lb
  namespace: hackathon
spec:
  type: LoadBalancer
  selector:
    app: order-service
  ports:
  - port: 80
    targetPort: 8080
